@import url("https://fonts.googleapis.com/css2?family=Julee&family=Raleway&display=swap");

@font-face {
  font-family: Dumbledor;
  src: url(/fonts/dumbledor.ttf);
}

@font-face {
  font-family: "Trade Gothic";
  src: url(/fonts/tradegothic.ttf);
}