@import url("https://fonts.googleapis.com/css2?family=Julee&family=Raleway&display=swap");

@font-face {
  font-family: PiratesBay;
  src: url(/fonts/piratesbay.ttf);
}

.token {
  background-image: url('/img/token-bg.png');
}